{% extends 'app/base.html' %}

{% block title %}Детальный просмотр вопроса: {{ question.text }}{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h2 class="text-center">{{ question.text }}</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <ul class="list-group">
              {% for answer in question.answer_set.all %}
              <li class="list-group-item">
                <button type="submit" class="btn btn-primary btn-lg btn-block btn-lg mb-3" name="answer" value="{{ answer.id }}">{{ answer.text }}</button>
              </li>
              {% endfor %}
            </ul>
          </form>
          <div class="text-center">
            <form action="{% url 'tests' %}" method="get">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
